.container{
  max-width: 1024px;
  padding: 30px;
  margin: auto;
}
.centered{
  text-align: center !important;
}
.modal .formGroup{
  margin-bottom: 20px;
}
.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-item:hover{
  color: rgba(0, 0, 0, 0.65) !important;
  /* color: #fff !important; */
  border-bottom: 2px solid transparent !important; 
  
}
.ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-item-selected a, .ant-menu-horizontal > .ant-menu-item a:hover {
  /* color: #fff !important; */
  color: rgba(0, 0, 0, 0.65) !important;
}
.ant-menu-horizontal {
  line-height: 60px !important;
  background-color: #eceaea !important;
}